@charset "utf-8";

.titre {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.titre h1 {
	text-align: center;
	font-size: 2rem;
	color: #d13a3a;
	text-transform: uppercase;
	text-shadow: #fff 1px 1px 1px;
	font-family: Impact, sans-serif;
}

.image-enseignant {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-enseignant img {
    width: 40%;
    height: auto;
}

.line {
    display: flex;
    margin: 20px;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
}

.prof {
    width: 300px;
    height: 400px;
    border: solid;
    border-color: #ae3939;
    background-color: #ae3939;
    border-radius: 30px;
    margin-right: 120px;
    margin-top: 50px;
    transition: transform 0.3s ease, background 0.3s ease, opacity 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
    position: relative;
}

.prof:hover {
    /* z-index: 3; */
    opacity: 0.599;
    background-color: rgba(209, 58, 58, 0.599);
    transform: scale(1.03);
}

.prof img {
    border-radius: 30px 30px 0 0;
    height: 290px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* .prof img:hover {
    
    border-radius: 30px;
    height: 295px;
    width: 305px;
} */

/* .prof p{
    text-align: center;
    color: #fff;
	font-family: century;
} */

/*
.class .prof{
    display:flex;
    align-items: center;
}

.couleur{
    color:#fff;
    font-size: 1rem;
    margin: 1rem;
}

.prof{
	margin-top: 5rem;
}
*/

.prof h2{
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria;
    color: #ffffff;
    text-shadow: #776c6c 1px 1px 1px;
	font-family: Impact, sans-serif;
}

.prof h3{
    text-align: center;
    color: #000000;
    /* text-shadow: #b3b3b3 1px 1px 1px; */
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* @media (min-width:901px){
	.titre{
		margin:0;
		padding-top:10%;
		/* padding-left:20%; 
	}
} */

/* @media (max-width:900px){
	.titre{
		margin:0;
		padding-top:30%;
		/* padding-left:20%; 
	}
}  */

/* .enseignants{
	margin: 2rem;
    height: 400px;
    width: 80%;
	margin-left: -2rem;
} */

/* h1{
	padding-left: 2rem;
	font-family:  impact ;
} */