@charset "utf-8";

aside h1{
    text-align: center;
    max-width: 1160px;
    margin: 0 auto 75px;
    font: 400 60px "impact";
    letter-spacing: 0.09em;
    text-transform: uppercase;
    position: relative;
    color: red;
	text-shadow: 2px 2px 2px black;
	top: 55px;
}

.image-formation {
    margin-bottom: 40px;
    text-align: center;
}

.image-formation img {
    max-width: 100%;
    height: auto;
}

aside p{
	margin-top: 0;
    margin-bottom: 1rem;
	text-align: center;
	margin: 0 auto 75px;
	font: 400 25px "didot";
    color: red;
}

.gauche{
    text-transform: uppercase;
    letter-spacing: 0.09em;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
    color: red;
	text-shadow: 2px 2px 2px black;
}

.droite{
    text-transform: uppercase;
    letter-spacing: 0.09em;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
    color: red;
	text-align: right;
	text-shadow: 2px 2px 2px black;
}

main section img{
	width: 250px;
	height: 150px;
    margin-left: 75px;
	margin-right: 75px;
	
}

html {
	background-color: #222222;
}

main section p{
    color: red;
	margin-left: 100px;
}

.text-gauche{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row-reverse;
}

.text-droite{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: initial;
}

@media screen and (min-width: 350px) and (max-width: 1600px) {
    body {
        background-color: #222222;
    }

    section {
        padding: 10px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    .image-formation img,
    .image-bachelor img,
    .image-prépa img,
    .image-master img,
    .image-doctorat img {
        max-width: 100%;
        height: auto;
    }
	
	
}